---
import { cn } from '@/utils'

const {
	as: Tag = 'div',
	class: className = ' border border-border px-5 py-3',
	href,
	heading,
	subheading,
	date,
} = Astro.props

---

<Tag
	class={cn(
		className,
		'relative rounded-2xl',
		href && 'transition-all hover:shadow-sm'
	)}
	href={href}
	target="_blank"
>
	<div class='flex flex-col gap-y-1.5'>
		{heading || subheading || date ? <div class='flex flex-col gap-y-0.5'>
		</div><h1 class='text-lg font-medium text-secondary-foreground '>{heading}</h1>
		<h2 class='text-muted-foreground'>{subheading}</h2>
		<h2 class='text-sm text-accent-300'>{date}</h2></div> : null}
		<slot />
	</div>
</Tag>
